.login-container {
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 10%;
    margin-bottom: 10%;
}

#title {
    font-size: 250%;
    
}

.select {
    
        color: black;
        cursor: pointer;
        
      
}

.register-container{
    display: flex;
    flex-direction: row;
}

.select:hover {
    color: blue;
    text-decoration: underline blue;

  }

